<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>Palermo Tenis Newsletter</title>
    </head>
    #set ( $texto = "style='font-size: 11px;font-family:Arial, Helvetica, sans-serif;'" )
    <body style="margin: 0px;">
        <div align="center">
            <table width="${imagen.width}" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="top" ${texto}>Si no ves las im&aacute;genes, <strong>clicke&aacute; <a href="http://www.palermotenis.com.ar/newsletter/Newsletter.jpg">aqu&iacute;</a>.</strong></td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <img alt="Newsletter" src="http://www.palermotenis.com.ar/newsletter/Newsletter.jpg" width="${imagen.width}" height="${imagen.height}" align="middle" />
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" ${texto}>
                        Si no dese&aacute;s recibir m&aacute;s este newsletter, <strong>clicke&aacute; <a href="http://www.palermotenis.com.ar/newsletter/Desuscripcion">aqu&iacute;</a>.</strong><br />
                        www.palermotenis.com.ar
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>