build/web/images/modelos/*
web/images/modelos/*

build/web/js/main/pack/*
web/js/main/pack/*

build/web/admin/js/pack/*
web/admin/js/pack/*

build/web/js/jquery/pack/*
web/js/jquery/pack/*

build/web/js/jquery/ui/pack/*
web/js/jquery/ui/pack/*

dist/*

.DS_Store
/target
/bin
/target
