<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="enviarListadoStockJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="durability" value="true" />
		<property name="jobClass" value="com.palermotenis.jobs.EnviarListadoStockJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="to" value="${templates.mail.job.to}"/>
				<entry key="from" value="${templates.mail.job.from}"/>
				<entry key="subject" value="${templates.mail.job.subject}"/>
				<entry key="fileName" value="${templates.mail.job.filename}"/>
				<entry key="mailSender" value-ref="mailSender" />
				<entry key="excelExporterService" value-ref="excelExporterService" />
			</map>
		</property>
	</bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="enviarListadoStockJob" />
        <property name="cronExpression" value="0 59 23 ? * SUN" />
    </bean>

    <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>

</beans>
