<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<context:component-scan base-package="com.palermotenis.model.service,com.palermotenis.model.dao" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:palermotenis.properties</value>
				<value>classpath:palermotenis-mail.properties</value>
			</list>
		</property>
	</bean>

    <!-- Web Services -->
    <bean id="currencyConvertor" class="com.palermotenis.model.webservices.MyJaxRpcPortProxyFactoryBean">
        <property name="serviceInterface">
            <value>com.palermotenis.model.webservices.CurrencyConvertor</value>
        </property>
        <property name="wsdlDocumentUrl">
            <value>http://www.webserviceX.NET/CurrencyConvertor.asmx?wsdl</value>
        </property>
        <property name="endpointAddress">
            <value>http://www.webserviceX.NET/CurrencyConvertor.asmx</value>
        </property>
        <property name="namespaceUri">
            <value>http://www.webserviceX.NET/</value>
        </property>
        <property name="serviceName">
            <value>CurrencyConvertor</value>
        </property>
        <property name="portName">
            <value>CurrencyConvertorSoap</value>
        </property>
        <property name="lookupServiceOnStartup">
            <value>false</value>
        </property>
    </bean>
    <!-- Web Services END -->

    <!-- Currency Formatter -->
    <bean id="currencyFormatter" class="org.springframework.format.number.CurrencyFormatter" />

	<!-- Password Encoder -->
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

    <!-- Tasks -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
    </bean>
    <!-- END tasks -->
    
    <!-- Carrito -->
    <bean class="com.palermotenis.model.beans.carrito.impl.CarritoImpl" id="carrito" scope="session">
        <aop:scoped-proxy/>
    </bean>

    <!-- Mail -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${com.palermotenis.mail.host}" />
        <property name="protocol" value="${com.palermotenis.mail.protocol}" />
        <property name="port" value="${com.palermotenis.mail.port}" />
        <property name="username" value="${com.palermotenis.mail.username}" />
        <property name="password" value="${com.palermotenis.mail.password}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.starttls.enable">${com.palermotenis.mail.smtp.starttls.enable}</prop>
                <prop key="mail.smtp.auth">${com.palermotenis.mail.smtp.auth}</prop>
                <prop key="mail.smtp.debug">${com.palermotenis.mail.smtp.debug}</prop>
                <prop key="mail.mime.charset">${com.palermotenis.mail.mime.charset}</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>

    <!-- Messages Bundle -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="com/palermotenis/resources/security/messages/messages"/>
    </bean>
	
    <import resource="/applicationContext-jobs.xml" />

</beans>
