<html>
    <body>
        <div>
            $formatter.print($number,$locale)
            #set( $num = $formatter.print($number,$locale) )
            $num
            #set ( $fndGris = "style='padding:2px;background-color: #E5E5E5;text-align:center;'" )

            #foreach( $s in $carrito.contenido.keySet() )
                #set( $i = $carrito.contenido.get($s) )
                <td ${fndGris}>$formatter.print($i.subtotal,$locale)</td>
            #end
            
                       <table width="616" border="0" cellpadding="2" cellspacing="0">
                            <tr>
                                <td align="right" style="padding-right: 3px;" bgcolor="#FFFFCC">
                                    <strong>TOTAL</strong>
                                </td>
                                <td align="right" style="background-color: #FFFF00; color: #000000;" width="303">
                                    <strong ${fndGris}>$formatter.print($carrito.total,$locale)</strong>
                                </td>
                            </tr>
                        </table>
        </div>
    </body>
</html>