<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

    <!--  bean class="com.palermotenis.controller.daos.ApplicationInitListener">
        <property name="daos">
            <list>
                <value>com.palermotenis.model.beans.Categoria</value>
                <value>com.palermotenis.model.beans.Idioma</value>
                <value>com.palermotenis.model.beans.Marca</value>
                <value>com.palermotenis.model.beans.Modelo</value>
                <value>com.palermotenis.model.beans.Moneda</value>
                <value>com.palermotenis.model.beans.Pago</value>
                <value>com.palermotenis.model.beans.Stock</value>
                <value>com.palermotenis.model.beans.Sucursal</value>
                <value>com.palermotenis.model.beans.Unidad</value>

                <value>com.palermotenis.model.beans.atributos.Atributo</value>
                <value>com.palermotenis.model.beans.atributos.AtributoClasificatorio</value>
                <value>com.palermotenis.model.beans.atributos.AtributoMultipleValores</value>
                <value>com.palermotenis.model.beans.atributos.AtributoTipado</value>

                <value>com.palermotenis.model.beans.atributos.tipos.TipoAtributo</value>
                <value>com.palermotenis.model.beans.atributos.tipos.TipoAtributoClasificatorio</value>
                <value>com.palermotenis.model.beans.atributos.tipos.TipoAtributoMultipleValores</value>
                <value>com.palermotenis.model.beans.atributos.tipos.TipoAtributoTipado</value>
                <value>com.palermotenis.model.beans.atributos.tipos.clasif.TipoAtributoClasif</value>

                <value>com.palermotenis.model.beans.authorities.Rol</value>

                <value>com.palermotenis.model.beans.clientes.Cliente</value>
                <value>com.palermotenis.model.beans.clientes.Direccion</value>

                <value>com.palermotenis.model.beans.compras.Compra</value>
                <value>com.palermotenis.model.beans.compras.Costo</value>
                <value>com.palermotenis.model.beans.compras.ProductoCompra</value>

                <value>com.palermotenis.model.beans.geograficos.Ciudad</value>
                <value>com.palermotenis.model.beans.geograficos.Pais</value>
                <value>com.palermotenis.model.beans.geograficos.Provincia</value>

                <value>com.palermotenis.model.beans.imagenes.Imagen</value>
                <value>com.palermotenis.model.beans.imagenes.ImagenEscalada</value>
                <value>com.palermotenis.model.beans.imagenes.tipos.TipoImagen</value>

                <value>com.palermotenis.model.beans.newsletter.Suscriptor</value>

                <value>com.palermotenis.model.beans.pedidos.Pedido</value>
                <value>com.palermotenis.model.beans.pedidos.PedidoProducto</value>

                <value>com.palermotenis.model.beans.precios.PrecioPresentacion</value>
                <value>com.palermotenis.model.beans.precios.PrecioUnidad</value>

                <value>com.palermotenis.model.beans.presentaciones.Presentacion</value>
                <value>com.palermotenis.model.beans.presentaciones.tipos.TipoPresentacion</value>

                <value>com.palermotenis.model.beans.productos.Producto</value>
                <value>com.palermotenis.model.beans.productos.tipos.TipoProducto</value>

                <value>com.palermotenis.model.beans.proveedores.Proveedor</value>

                <value>com.palermotenis.model.beans.valores.ValorClasificatorio</value>
                <value>com.palermotenis.model.beans.valores.ValorPosible</value>

                <value>com.palermotenis.model.beans.ventas.Listado</value>
                <value>com.palermotenis.model.beans.ventas.ProductoVenta</value>
                <value>com.palermotenis.model.beans.ventas.StockListado</value>
                <value>com.palermotenis.model.beans.ventas.Venta</value>
            </list>
        </property>
    </bean-->



</beans>
