/* 
Document   : admin-style
Created on : 10/07/2009, 18:52:17
Author     : Poly
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    height: 100%;
}

#main {
    background-color: #fff;
    width: 800px;
    margin: 20px 50%;
    left: -450px;
    right: -350px;
    padding: 10px 20px;
    position: absolute;
    min-height: 429px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 5px 5px;
}

#nav {
    position: absolute;
    right:-61px;
    width: 61px;
    top: 0;
}

.nav-img {
    cursor: pointer;
    width: 61px;
    height: 57px;
}

.help span {
    cursor: help;
    color: #028CCD;
    border-bottom: 1px dotted;
}


